<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/e31f5f18-ca21-45f1-9b5e-db4b8b140995/resourcegroups/gdotnet/providers/Microsoft.Web/sites/g-team3-418-project</ResourceId>
    <ResourceGroup>gdotnet</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://g-team3-418-project.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>g-team3-418-project.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>g-team3-418-project</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$g-team3-418-project</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:g-team3-418-projectdbserver.database.windows.net,1433;Initial Catalog=g-team3-418-project_db;User ID=user_admin@g-team3-418-projectdbserver;Password=re4RE51993" Name="Data Source=tcp:g-team3-418-projectdbserver.database.windows.net,1433;Initial Catalog=g-team3-418-project_db;User Id=user_admin@g-team3-418-projectdbserver;Password=re4RE51993" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=&quot;|DataDirectory|\aspnet-Asp.net MVC TestpreparationAppDemo-20170112062251.mdf&quot;;Initial Catalog=&quot;aspnet-Asp.net MVC TestpreparationAppDemo-20170112062251&quot;;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=&quot;|DataDirectory|\aspnet-Asp.net MVC TestpreparationAppDemo-20170112062251.mdf&quot;;Initial Catalog=&quot;aspnet-Asp.net MVC TestpreparationAppDemo-20170112062251&quot;;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:g-team3-418-projectdbserver.database.windows.net,1433;Initial Catalog=g-team3-418-project_db;User Id=user_admin@g-team3-418-projectdbserver;Password=re4RE51993</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>