@{
    ViewBag.Title = "Home Page";
}
    <style>
        body {
            background-image: url("https://www.albany.edu/biology/images/UA_logo/logo_A3_pms124_269.png");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
            background-size: 50%;
        }
</style>
<h1 style="text-align: center">TEAM 3 Final Project</h1>
<h3><marquee style="font-size:x-large">Its like blackboard but with less DDoS  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ¯\_(ツ)_/¯ </marquee></h3>
 <br />

